@mixin flexcenter {
  display: flex;
  align-items: center;
}

.header {
  @include flexcenter();
  justify-content: space-around;

  &__ul {
    @include flexcenter();
    list-style: none;

    &__li {
      padding: 5px;
    }
  }

  &__link {
    @include flexcenter();

    &__item {
    padding: 5px;

      & i {
        font-size: 18px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

#page-title {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 19px;
}